{% extends 'base.html.twig' %}

{% block title_page %}{{ title_page }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-8">
            {% for post in posts %}
                <div class="w-100">
                    <a href="{{ path('front_post_details', {'postId': post.id}) }}">
                        <h4>{{ post.title|capitalize }}</h4>
                    </a>
                </div>
                <hr class="my-3">
            {% endfor %}
        </div>
    </div>
{% endblock %}
